<h2>Items Available To Order</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Stock Level</th>
    <th>Manufacturer</th>
  </tr>
  <% for item in @items %>
  <tr>
    <th> <a href="/items/<%= item.id %>"><%= item.name %></a>
    </th>
    <th><%= item.description[0..50]%>
        <% if item.description[51] %>
        <%= p "..."  %>
        <% end  %>
    </th>
    <th><%= item.cost %></th>
    <th><%= item.price %></th>
    <th><%= item.stock_level %></th>
    <th><%= item.manufacturer_name()%></th>
    <th>
      <form action="/orders/<%=@order.id%>/add/<%=item.id%>" method="post">
      <input type="number" name="amount" min="0" id="amount"/> <input type="submit" value="Add Item"/>      </form></th>
  </tr>
    <% end %>
</table>



<h2>Items in the Order</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Stock Level</th>
    <th>Manufacturer</th>
  </tr>
  <% for item in @items %>
  <tr>
    <th> <a href="/items/<%= item.id %>"><%= item.name %></a>
    </th>
    <th><%= item.description[0..50]%>
        <% if item.description[51] %>
        <%= p "..."  %>
        <% end  %>
    </th>
    <th><%= item.cost %></th>
    <th><%= item.price %></th>
    <th><%= item.stock_level %></th>
    <th><%= item.manufacturer_name()%></th>
  </tr>
    <% end %>
</table>
