<div class="grid-row">

<div class="opt-list">
<h2>Items Available To Order</h2>
<table>
  <tr>
    <th>Name</th>

    <th>Cost(£)</th>
    <th>Price(£)</th>
    <th>Stock Level</th>
    <th>Manufacturer</th>
  </tr>
  <% for item in @items %>
  <%if item.stock_level>0  %>
  <tr>
    <td> <a href="/items/<%= item.id %>"><%= item.name %></a>
    </td>
    <td><%= item.cost %></td>
    <td><%= item.price %></td>
    <td class="<%= item.stock_report() %>" ><%= item.stock_level %></td>
    <td><%= item.manufacturer_name()%></td>
    <td>
      <form action="/orders/<%=@order.id%>/add/<%=item.id%>" method="post">
      <input type="number" style="width: 50px;" name="amount" min="1" max="<%=item.stock_level%>" value="1" id="amount"/> <br><input type="submit" value="Add Item"/>      </form></td>
  </tr>
    <%end%>
    <% end %>
</table>
</div>

<div class="cart">
<h2>Items in the Order</h2>
<% items_in_order = @order.items  %>
<% if items_in_order.length>0  %>
<form action="/orders/<%=@order.id%>/process" method="post">
<input class="process-button" type="submit" value="Process The Order"/></form>
<% end %>
<form action="/orders/<%=@order.id%>/delete" method="post">
<input class="process-button" type="submit" value="Remove The Order"/></form>

<table>

  <tr>
    <th>Name</th>
    <th>Cost(£)</th>
    <th>Price(£)</th>
    <th>House Stock Level</th>
    <th>Manufacturer</th>
    <th>Amount To Order</th>
  </tr>
  <% for item in items_in_order %>
  <tr>
    <td> <%= item.name %></td>

    <td><%= item.cost %></td>
    <td><%= item.price %></td>
    <td class="<%= item.stock_report() %>"><%= item.stock_level %></td>
    <td><%= item.manufacturer_name()%></td>
    <td> <%= Transaction.find_in_order(@order.id, item.id).amount%></td>
    <td><form action="/orders/<%=@order.id%>/remove/<%=item.id%>" method="post">
    <input type="submit" value="Remove Item"/></form></td>
  </tr>
    <% end %>
</table>
</div>

</div>
