<h2>Orders</h2>


<% unprocessed_order=Order.find_unprocessed() %>
<% if unprocessed_order!=nil  %>
<a class="button-big" href="/orders/<%= unprocessed_order.id %>/edit">Edit & Process Order</a>
<%else%>
<a class="button-big" href="/orders/new">New Order</a>
<%end%>


<table>
  <tr>
    <th>Order Number</th>
    <th>Order Date</th>
    <th>Outgoing</th>
    <th>Number of Items</th>
  </tr>
  <% counter=1  %>
  <% for order in @orders %>
    <% if order.is_processed == "t" %>
    <tr>
      <th><%=counter%></th>
      <th><%= order.order_date %></th>
      <th><% if order.is_sold == "t" %>
          <%= "Yes"  %>
          <% else  %>
          <%= "NO" %>
          <% end  %>
      </th>
      <th><%= order.number_of_items() %></th>
      <th>
          <div class="button-link">
          <a class="button-link" href="/orders/<%= order.id %>/view-transactions">View Order</a>
        </div>
      </th>
    </tr>
    <% end %>


    <% counter += 1  %>
    <% end %>

</table>
