<h2>Orders</h2>

<h3> <a href="orders/new">New Order</a> </h3>
<table>
  <tr>
    <th>Order Number</th>
    <th>Order Date</th>
    <th>Outgoing</th>
    <th>Processed</th>
    <th>Number of Items</th>
  </tr>
  <% counter=1  %>
  <% for order in @orders %>

  <tr>
    <th><%=counter%></th>
    <th><%= order.order_date %></th>
    <th><% if order.is_sold == "t" %>
        <%= "Yes"  %>
        <% else  %>
        <%= "NO" %>
        <% end  %>
    </th>
    <th><%= order.is_processed=="t" ? "Yes" : "No" %></th>
    <th><%= order.number_of_items() %></th>
    <th><% if order.is_processed == "f" %>
        <div class="button-link">
        <a class="button-link" href="/orders/<%= order.id %>/edit">Edit & Process Order</a>
        </div>
      <% else %>
        <div class="button-link">
        <a class="button-link" href="/orders/<%= order.id %>/view-transactions">View Order</a>
      </div>
      <% end %>
    </th>
  </tr>
    <% counter += 1  %>
    <% end %>

</table>
