<h2>All Items</h2>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Tag</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Stock Level</th>
    <th>Manufacturer</th>
    <th>Restock/Update</th>
  </tr>
  <% for item in @items %>
  <tr>
    <th><%= item.id %></th>
    <th> <a href="/items/<%= item.id %>"><%= item.name %></a>
    </th>
    <th><%= item.description[0..50]%>
        <% if item.description[51] %>
        <%= p "..."  %>
        <% end  %>
    </th>
    <th><%= item.tag %></th>
    <th><%= item.cost %></th>
    <th><%= item.price %></th>
    <th><%= item.stock_level %></th>
    <th><%= item.manufacturer_name()%></th>
    <th><a href="/items/<%= item.id %>/restock">Edit</a></th>
  </form>
  </tr>
    <% end %>

</table>
