<h2>All Items</h2>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Tag</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Stock Level</th>
    <th>Manufacturer</th>
  </tr>
  <% for item in @items %>
  <tr>
    <th><%= item.id %></th>
    <th><%= item.name %></th>
    <th><%= item.description %></th>
    <th><%= item.tag %></th>
    <th><%= item.cost %></th>
    <th><%= item.price %></th>
    <th><%= item.stock_level %></th>
    <th><%= item.manufacturer_name()%></th>
  </tr>
    <% end %>

</table>
