<h2>Restock/Update</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Stock Level</th>
    <th>Manufacturer</th>
    <th>Restock/Update</th>
  </tr>

  <tr>

    <th><%= @item.name %></th>
    <th><%= @item.description %></th>
    <th><%= @item.cost %></th>
    <th><%= @item.price %></th>
    <th><%= @item.stock_level %></th>
    <th><%= @item.manufacturer_name()%></th>
    <th><a href="/items/<%= @item.id %>/restock">Edit</a></th>
  </form>
  </tr>

</table>


<form method="POST" action="/items/<%= @item.id %>">
  <div class="form-wrapper">

  <div class="form-el">
    <label for="cost">Cost:</label>
    <input type="number" min="0" name="cost" id="cost" value="<%= @item.cost %>"/>
  </div>

  <div class="form-el">
    <label for="price">Price:</label>
    <input type="number" min="0" name="price" id="price" value="<%= @item.price %>"/>
  </div>




  <div class="form-el">

    <div class="form-el">
      <input type="submit" value="Edit Stock"/>
    </div>

  </div>
</form>
