<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Stock Level</th>
    <th>Manufacturer</th>
    <th>Restock/Update</th>
  </tr>

  <tr>

    <th><%= @item.name %></th>
    <th><%= @item.description %></th>
    <th><%= @item.cost %></th>
    <th><%= @item.price %></th>
    <th><%= @item.stock_level %></th>
    <th><%= @item.manufacturer_name()%></th>
    <th><a href="/items/<%= @item.id %>/edit">Edit</a></th>
  </form>
  </tr>

</table>
