<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Stock Level</th>
    <th>Manufacturer</th>
    <th>Restock/Update</th>
  </tr>

  <tr>

    <td><%= @item.name %></td>
    <td><%= @item.description %></td>
    <td><%= @item.cost %></td>
    <td><%= @item.price %></td>
    <td class="<%= @item.stock_report() %>"><%= @item.stock_level %></td>
    <td><%= @item.manufacturer_name()%></td>
    <td><a href="/items/<%= @item.id %>/edit">Edit</a></td>
  </form>
  </tr>

</table>
